<table class="form" id="paycheck_to_account">
  <tr>
    <td class="label">Name:</td>
    <td><%= f.text_field :name %></td>
    <td class="error"><%= @paycheck.errors ? @paycheck.errors.on(:name) : "" %></td>
  </tr>
  <tr>
    <td class="label">Initial Balance:</td>
    <td><%= f.text_field :amount, :value => number_to_currency(@paycheck.amount || 0), :onChange => "toCurrency(this)", :style => "width: 125px; text-align: right;" %></td>
    <td class="error"><%= @paycheck.errors ? @paycheck.errors.on(:amount) : "" %></td>
  </tr>
  <%= render :partial => "paycheck_to_account", :collection => @paycheck.paycheck_to_accounts %>
</table>
<table width="98%" class="form" style="margin-top: 0;">
  <tr>
    <td class="label">&nbsp;</td>
    <td colspan="2">
      <%= add_paycheck_to_account_link "Add an Account" %></td>
  </tr>
  <tr>
    <td class="label"></td>
    <td><%= f.submit submit_label %></td>
    <td></td>
  </tr>
</table>